
body {
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  height: 250px;
  padding-left: 0;
  padding-right: 0;
}


/* Styles for label element */
label {
    display: block;
    padding-bottom: 10px;
}


/* Styles for textarea element */
textarea {
    height: 150px;
    width: 300px
}

/* Styles for logo div and images within div */

.logo {
    display: flex;
    align-items: center; 
    border: 5px solid #000000; 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    width: 145px;
  }
  
  .logo img {
    max-height: 50px;
  }
  

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    height: 75px;
  }

  /* Styles for div elements with class booking and the images within */
.hotelP {
  width: 100%;
}


  /* styles.css */

/*  border  */
  .border1 {
    text-align: center;
    width: 100%;
    margin-top: -1rem;
    }
    .border2 {
      width: 100%;
      margin-top: -1rem;
      }



  .tabs {
    list-style: none;
    margin: 5%;
    padding: 0;
    display: flex;
    margin-right: auto; 
  }

  .tabs li {
    margin-right: 10px;
  }
  
  .tabs li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
  }
  
  .tabs li a:hover {
    background-color: #fff;
    color: #333;
  }
  .tabs #BookNowB a {
    background-color: rgb(192, 81, 7); 
    border-radius: 0px;
    border:none;
    padding: 12px 15px;
  }
  .tabs .BookNowB1 a {
    background-color: rgb(2, 1, 1); 
    border-radius: 0px;
    border:none;
  }
  .tabs #BookNowB a:hover{
    color: #000000;
    background-color: #f6f6f6;
    
  }

  #BookNowB{
    margin-right: 2%;
    position: absolute; right: 0;
    font-size: large;
  }
  .BookNowB1{
    top: 45%;
    left: 24%;
    position: absolute;
    font-size: large;
  }


  
  /*Amenities tab styling*/

  .hAmenitiesPic{ 
    width: 100%;
    overflow: hidden;
    height: 110%;
    display: block;
    opacity: 0.8;
  }
  .tabTitle {
    font-family:'Berling SB Roman', Times, serif ;
    font-style: italic;
    font-size: xx-large;
    position: absolute;
    top: 80%;
    left: 49%;
    color: rgb(30, 22, 28);
  }

  .aAmenities{
    position: relative;
    
  }

  .P1 {
    margin: 7%;
    width: 40%;
    border-radius: 50px;
  }

  .P2 {
    margin: 7%;
    margin-left: 44%;
    width: 40%;
    border-radius: 50px;
  }
 
  
  .TextT1 {
    line-height: 0.6;
    opacity: 0.6;
    font-size: x-large;
    font-family:'Berling SB Roman', Times, serif ;
    color: rgb(13, 48, 18);
    position: absolute;
    right: 28%;
    top: 25%;
  }
  .TextT2 {
    line-height: 0.6;
    opacity: 0.6;
    font-size: x-large;
    font-family:'Berling SB Roman', Times, serif ;
    color: rgb(13, 48, 18);
    position: absolute;
    right: 68%;
    top: 25%;
  }


  .Text1{
    letter-spacing:1px;
    font-size: large;
    position: absolute;
    right: 18%;
    top: 47%;
  }

  .Text2{
    letter-spacing:1px;
    font-size: large;
    position: absolute;
    right: 61%;
    top: 47%;
  }


/* end amenities tab*/








  /*Booking tab*/

  .grid{
    display: grid;
    grid-template-columns: repeat(5,3fr);
    grid-gap: 22px;
  }
  .book{
    padding: 40px 0;
    background-color:#4c4444 ;
    color: #fff;
  }
  .book h1 span{
  color: #bd5a5a;
  }
  .book input{
    padding: 19px;
  }
  .book button{
    background: #0eb841;
    color: #fff;
  }
